.desc{
    text-align: left;
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 20px;
}
.title{
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 28px;
}
.genre {
    Font-Family: 'Noto Serif', Serif;
    Font-Size: 24px;

}