.desc {
  text-align: left;
  font-family: "Noto Serif", Serif;
  font-size: 20px;
}
.title {
  font-family: "Noto Serif", Serif;
  font-size: 28px;
}
.genre {
  font-family: "Noto Serif", Serif;
  font-size: 24px;
}
